.form-input {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.mat-card {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22%;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 22px -1px rgba(21, 33, 177, 0.2), 0 1px 1px 0 rgba(8, 22, 117, 0.14), 0 1px 3px 0 rgba(33, 66, 185, 0.12);
}